################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/BWR.Application/obj
/BWR.Domain/obj
/BWR.Infrastructure/obj
/BWR.ShareKernel/obj
/Bwr.WebApp/obj