################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/BWR.Application/obj
/BWR.Domain/obj
/BWR.Infrastructure/obj
/BWR.ShareKernel/obj
/Bwr.WebApp/obj
/BWR.Application/bin
/BWR.Domain/bin
/BWR.Infrastructure/bin
/BWR.ShareKernel/bin
/Bwr.WebApp/bin
BWR.Application/bin/Debug/BWR.Application.dll
BWR.Application/bin/Debug/BWR.Infrastructure.dll
BWR.Application/bin/Debug/BWR.Infrastructure.pdb
BWR.Application/bin/Debug/BWR.ShareKernel.dll
BWR.Application/obj/Release/BWR.Application.dll
BWR.Application/bin/Release/BWR.Application.dll
BWR.Application/bin/Debug/BWR.ShareKernel.pdb
BWR.Application/bin/
BWR.Domain/bin/Release/BWR.Domain.pdb
Bwr.WebApp/bin
Bwr.WebApp/obj
