################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/BWR.Application/obj
/BWR.Application/bin
/BWR.Domain/obj
/BWR.Domain/bin
/BWR.Infrastructure/obj
/BWR.Infrastructure/bin
/BWR.ShareKernel/obj
/BWR.ShareKernel/bin
/Bwr.WebApp/obj
/Bwr.WebApp/bin
