

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ui-draggable-handle">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">اختر العملة و التاريخ</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <label>لتاريخ:</label>
                    <input type="date" class="form-control" id="allBalancesDate" />
                </div>
                <div class="col-lg-6">
                    <label>العملة</label>
                    <select id="allBalancesCoins" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn green" id="allBalncesViewBtn">عرض</button>
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">إلغاء</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script> 
        $(function () {
            fillAllBalancesCoins();

            $('#allBalancesCoins').select2({ width: null });

            $('#allBalncesViewBtn').click(function () {
                var coinId = $('#allBalancesCoins').val();
                var date = $('#allBalancesDate').val();
                if (coinId == "") {
                    alert("يجب عليك تحديد التاريخ");
                }
                location.href = '@Url.Action("AllBalances", "Statement")?coinId=' + coinId + '&to=' + date;
            });

        });

        function fillAllBalancesCoins() {

            $.post(
                '@Url.Action("GetCoinsForDropdown", "Coin")', {"term":""},
                function (data) {
                    $('#allBalancesCoins').empty();
                    for (var i = 0; i < data.Coins.length; i++) {
                        var option = new Option(data.Coins[i].Name, data.Coins[i].Id);
                        $('#allBalancesCoins').append(option);
                    }
                }
            )
    }
    $(document).ready(function () {
        $('#allBalancesDate').val(new Date().toDateInputValue());
    });
</script>
