<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ui-draggable-handle">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">كشف الحوالات المسلمة</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <input type="date" class="form-control" id="conclusionModelDate" />

                </div>
                <div class="col-lg-6">
                    <select class="form-control" id="conclusionModelCoinSelect">
                        <option>اختر عملة ..</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label>صافي ديون العملاء</label>
                <input type="text" class="form-control" readonly id="conclusionModelAgent" />
            </div>
            <div class="row">
                <label>صافي ديون الشركات</label>
                <input type="text" class="form-control" readonly id="conclusionModelCompany" />
            </div>
            <div class="row">
                <label>المستقيدين غير المستلمين</label>
                <input type="text" class="form-control" readonly id="conclusionModelTransaction" />
            </div>
            <div class="row">
                <label>الصندوق الفعلي</label>
                <input type="text" class="form-control" readonly id="conclusionModelBox" />
            </div>
            <div class="row">
                <label>المجموع</label>
                <input type="text" class="form-control" readonly id="conclusionModelSum" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">إلغاء</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->


<script>
    var conclusionModelCoinSelect = $('#conclusionModelCoinSelect');
    var conclusionModelDate = $('#conclusionModelDate');
    $(function () {
        fillConclusionModelCoinSelect();
        conclusionModelCoinSelect.select2({ 'width': null });
        conclusionModelDate.val(currentDate());

        conclusionModelCoinSelect.change(function () {
            getConclusion();
        });
        conclusionModelDate.change(function () {
            getConclusion();
        });
    });

    function getConclusion() {
        debugger;
        var coinId = conclusionModelCoinSelect.val();
        var date = conclusionModelDate.val();
        $('#conclusionModelAgent').val('');
        $('#conclusionModelCompany').val('');
        $('#conclusionModelTransaction').val('');
        $('#conclusionModelBox').val('');
        $('#conclusionModelSum').val('');
        if (coinId != null) {
            $.get('@Url.Action("GetConclusion", "Statement")?coinId=' + coinId + '&to=' + date,
                function (data) {
                    $('#conclusionModelAgent').val(numberWithCommas(data.Conclusion.ClientAmount));
                    $('#conclusionModelCompany').val(numberWithCommas(data.Conclusion.CompanyAmount));
                    $('#conclusionModelTransaction').val(numberWithCommas(data.Conclusion.NotDeliveredAmount));
                    $('#conclusionModelBox').val(numberWithCommas(data.Conclusion.TreasuryAmount));
                    $('#conclusionModelSum').val(numberWithCommas(data.Conclusion.Total));
                }
            )
        } else {
            toastr.error("عليك اختيار العملة");
        }
        
    }

    function fillConclusionModelCoinSelect(){

        $.get(
            '@Url.Action("GetCoinsForDropdown", "Coin")', {"term":""},
            function (data) {
                for (var i = 0; i < data.Coins.length; i++) {
                    var option = new Option(data.Coins[i].Name, data.Coins[i].Id);
                    conclusionModelCoinSelect.append(option);
                }

            }
        )
    }

    function currentDate() {
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        return today;
    }

</script>