


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">كشف المدفوعات</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label>نوع الحساب</label>
                        <select class="form-control" id="LayoutModelExpenseAcountType">
                            <option value="All">الكل</option>
                            <option value="1">مصاريف عامة</option>
                            <option value="2">ذمم عملاء</option>
                            <option value="3">ذمم شركات</option>
                            <option value="4">حوالة مباشرة</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label>الحساب</label>
                        <select class="form-control" id="LayoutModelExpenseAcount">
                            <option value="All">الكل</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>من تاريخ</label>
                        <input type="date" class="form-control" id="LayoutModelExpenseFromDate" />
                    </div>
                    <div class="col-lg-6">
                        <label>إلى تاريخ</label>
                        <input type="date" class="form-control" id="LayoutModelExpenseToDate" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إلغاء</button>
                <button type="button" class="btn green" id="outerTrnasactionFilterButton">عرض</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

<script>
    $(function () {
        $('#outerTrnasactionFilterButton').click(() => {
                var senderClientId;
                if (typeOfPayOuterTransaction.val() == 2) {
                    senderClientId = agentSenderOuterTransaction.val();
                } else {
                    senderClientId = senderClientSelectOuterTransaction.val();
                }
                if (senderClientId == "") {
                    senderClientId = null;
                }

                window.location.replace('@Url.Action("Index", "OuterTransaction")?coinId=' + coinOuterTransaction.val() + '&typeOfPay=' + typeOfPayOuterTransaction.val() + '&countryId=' + countryOuterTransaction.val() + '&recviecrClientId=' + reciverClientSelectOuterTransaction.val() + '&senderClientId=' + senderClientId + '&from=' + fromOuterTransaction.val() + '&to=' + toOuterTransaction.val());
            });
    });
</script>
